/* wwwroot/css/login.css */
body {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    color: #1f2937;
}

.login-box label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #f97316;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #ea580c;
}